PORT=5001

JWT_SECRET=
JWT_EXPIRES_IN=7d

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_CLUSTER=

MONGO_URI=mongodb+srv://MONGO_USERNAME:MONGO_PASSWORD@MONGO_CLUSTER/HospitalAppointmentDB?retryWrites=true&w=majority
ADMIN_NAME=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

EMAIL_USER=
EMAIL_APP_PASSWORD=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=